.collection .collection-item.avatar .circle {
    width:170px;
    height:200px;
}

.collection .collection-item.avatar {
    height:220px;
}

.card .card-title {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px grey;
}

span.itemTitle {
    font-size: 1.3rem;
    font-weight: 800;
}

.secondary-content{
    font-size: 1.5rem;
    color: #e65100;
}

.total {
     font-size: 1.5rem;
    font-weight: 600;
}